.header{
    height: 34vw;
    background: url('/posimage.png') no-repeat;
    background-size: contain;
    position: relative;
    margin: auto;
}

.header-content{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 40%;
    gap: 1.5vw;
    min-width: 50%;
    right: 2vw;
    margin-top: 8vh;
    font-size: max(2vw,22px);
    animation: fader 3s;
}

.header-content button{
    height: 6vh;
    width: 16vh;
    border: none;
    font-weight: bolder;
    background-color:  rgba(226, 56, 56, 0.915); ;
    color: white;
    cursor: pointer;
}